button{         /*ปรับแต่งปุ่มหน้าโฮม*/
    background-color: yellow;;
    padding: 20px 20px;
    border-radius: 100%;
    margin: 20px;
    font-size: 16px;
    width: 150px;
    height: 150px;
    box-shadow: -10px -10px;
    font-family: 'Silkscreen', cursive;
    cursor: pointer;
    
}

body{      /*ตกแต่งพื้นหลังและฟร้อนตัวอักษร*/
    background-image: url('Galaxy.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Silkscreen', cursive;
}

h1{   /*ปรับขนาดและสีของตัวอักษรหัวข้อใหญ่*/
    font-size: 70px;
    color: white;;
}